{% extends "../base.html" %}

{% block title %}首页-人人教{% end %}


{% block vars %}
{% set navbar = 'index' %}
{% end %}

{% block page %}

{% raw user_data %}

<div class="ml-2 mt-2 container-fluid">
    <div class="row mb-5">
        <div class="col-sm-4 col-xl-3">
            <div class="card">
                <canvas id="userGrowth" width="200" height="100"></canvas>
                <div class="card-body">
                    <p class="card-text">最近7天每天用户增加量</p>
                    <a href="/admin/users" class="btn btn-primary">查看详情</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xl-3">
            <div class="card">
                <canvas id="questionGrowth" width="200" height="100"></canvas>
                <div class="card-body">
                    <p class="card-text">最近7天每天问题增加量</p>
                    <a href="/admin/questions" class="btn btn-primary">查看详情</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xl-3">
            <div class="card">
                <canvas id="jobGrowth" width="200" height="100"></canvas>
                <div class="card-body">
                    <p class="card-text">最近7天每天家教需求增加量</p>
                    <a href="/admin/jobs" class="btn btn-primary">查看详情</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-4 col-xl-3">
            <div class="card">
                <canvas id="myChart" width="200" height="100"></canvas>

                <div class="card-body">
                    <p class="card-text">Some quick example text to build.</p>
                    <a href="#" class="btn btn-primary">查看详情</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}

{% block script %}
<script>
    $(function () {
        var ctx = document.getElementById("userGrowth").getContext('2d');
        var user_growth_labels = {% raw json_encode(user_growth_labels) %};
        var user_growth_data = {% raw json_encode(user_growth_data) %};
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: user_growth_labels,
                datasets: [{
                    label: '新增用户',
                    data: user_growth_data,
                    borderColor: 'rgba(255,99,132,1)',
                }]
            }
        });
        var ctx = document.getElementById("questionGrowth").getContext('2d');
        var question_growth_labels = {% raw json_encode(question_growth_labels) %};
        var question_growth_data = {% raw json_encode(question_growth_data) %};
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: question_growth_labels,
                datasets: [{
                    label: '新增问题',
                    data: question_growth_data,
                    borderColor: 'rgba(54, 162, 235, 1)',
                }]
            }
        });
        var ctx = document.getElementById("jobGrowth").getContext('2d');
        var job_growth_labels = {% raw json_encode(job_growth_labels) %};
        var job_growth_data = {% raw json_encode(job_growth_data) %};
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: job_growth_labels,
                datasets: [{
                    label: '家教需求',
                    data: job_growth_data,
                    borderColor: 'rgba(255, 206, 86, 1)',
                }]
            }
        });


        var ctx = document.getElementById("myChart").getContext('2d');
var scatterChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['a', 'b', 'c'],
        datasets: [{
            label: 'Scatter Dataset',
            data: [12,15,19],
            borderColor: [
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            backgroundColor: [
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
        }]
    },
});
    });

</script>
{% end %}